.weather-container {
  text-align: center;
  margin-top: 50px;
  
}

.weather-form {
  background-color: #e6e6e6;
  padding: 20px;
  border-radius: 8px;
  display: inline-block;
}

.weather-details {
  list-style: none;
  padding: 0;
  text-align: left;
}

.footer {
  font-size: 14px;
  text-align: center;
}